@import 'assets/styles/_variables.scss';
@import 'assets/styles/_colors.scss';

.app-header-root {
  padding: 12px $side-padding;
  color: white;
  background-color: $theme-color;
  display: flex;
  align-items: center;

  .header {
    margin: 0 0 0 0.5em;
    font-size: 1.2em;
    font-weight: 700;
  }
}