@mixin initFont($font-family, $weight, $path) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    src: url('#{'../fonts/' + $path }');
    font-display: block;
  };
}

@include initFont('Roboto', 100, 'Roboto/Roboto-Thin.woff');
@include initFont('Roboto', 300, 'Roboto/Roboto-Light.woff');
@include initFont('Roboto', 400, 'Roboto/Roboto-Regular.woff');
@include initFont('Roboto', 500, 'Roboto/Roboto-Medium.woff');
@include initFont('Roboto', 700, 'Roboto/Roboto-Bold.woff');
@include initFont('Roboto', 900, 'Roboto/Roboto-Black.woff');
