.employees-table-root {
  display: flex;
  flex-direction: column;

  .circular-progress-outer {
    margin: auto;
  }

  .table-head-outer {
    :global(.MuiTableCell-head) {
      font-weight: bold;
    }
  }
}